@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

.habit__container{
    display: flex;
    justify-content: space-evenly;
}

.habits {
    width: 85%;
}

#habit__card__id {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7%;
    margin: 1.5em;
    padding: 1.5em;
    background-color: white;
    filter: drop-shadow(0 0 0.35rem grey);
}

.habits__todo {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.completed__habits {
    justify-self: flex-end;
    border-left: solid;
    padding-left: 2em;
}

.todays__habits {
    text-align: center;
    padding: 3em;
}

.todays__habits__sub {
    text-align: center;
    padding: 0 1em 1em 1em;
    margin: 0 5em 0 4em;
}

h1 {
    font-size: 55px;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.habitCard__name {
    font-size: 26px;
}

.habitCard__info {
    margin-top: -1.2em;
    color: rgb(99, 94, 94);
    font-size: 14px;
}

.allHabit__cards {
    
    border-radius: 7%;
    margin: 1.5em;
    padding: 3em;
    background-color: white;
    filter: drop-shadow(0 0 0.35rem grey);
}

.allHabit__container {
    margin: 0 10em 0 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}