@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: "Montserrat",sans-serif;
  color: #454545;
  font-size: 17px;
  line-height: 26px;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: 333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}  */

    

